/* fonts geral */

@import url('https://fonts.googleapis.com/css2?family=Kay+Pho+Du:wght@400;500;600;700&family=Lobster&family=Noto+Serif+Old+Uyghur&display=swap');


body {
    font-family:"Spyce Rice", serif;   /*fonte do texto  */
    color: #2b2929 ;       /* cor do texto */
    background:#818080;   /* cor do fundo */
}

a {
    text-decoration: none;
    color: #131111;
}

a:hover { 
    color: #c2b9b9 ;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Spicy Rice"; /* se der errado volta aqui */
}

/* cabecalho */
#header {
    position: fixed;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: 300px; ;
    background: #363636; /* fundo de cor verdical, onde esta a minha foto */
    transition: all ease-in-out 2s;
    z-index: 9999;
    padding: 0 15px;
    overflow-y: auto;
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 140px;
    border: 3px solid #131111;
    box-shadow: 0px 10px 1px #2c2c2c;
}

.text-light a {
    font-family: "Spicy Rice";
    color: #c2b9b9;
    font-size: 30px;
}

.text-light a:hover {
    color: #2b2929;
    transition: all ,5s;
}


#header .perfil .social-links i {
    font-size: 40px;
    color: #f7f0f0;
    background: #363636;
    border-radius: 50%;
    margin-right: 5px;
    text-align: center;
    display: inline;
    padding: 5px;
    transition: 0.3s;
}

#header .perfil .social-links i:hover {
    color: #c2b9b9;
    background: #2e2d2d;
    transition: 0.3s;
}
/* fim header */


#main {
    margin-left:300px;
}

.container, 
.container-fluid {
    padding-left: 30px;
    padding-right: 30px ;
}
/* navegação menu */
/* desktop navegação */
.nav-menu{
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 1px;
    padding: 1px;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a, 
.nav-menu a:focus{
    display: flex ;
    align-items: center;
    color: #c2b9b9;
    padding: 12px 15px;
    margin-bottom: 8px ;
    transition: 0.3s;
    font-size: 15px;
}
/* menu icones */
.nav-menu a i, 
.nav-menu a:focus i {
    font-size:  24px;
    padding-right: 8px;
    color: #747171;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: aliceblue;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>i {
    color: aliceblue;
}


/* mobile menu */
.mobile-nav-toggle { 
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline:  none !important;
    background: #747171;
    color: rgb(37, 39, 39);
    width: 40px ;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer

}
.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}



@media (max-width: 1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }

    .container,
    .container-fluid {
        padding-left: 12px;
        padding-right: 12px ;
    }
}

/* hero */
#hero {
    width: 100;
    height: 100vh;
    background: url();
    background-size: cover;
}